@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --bg-soft-violet: hsl(273, 75%, 66%);
    --bg-soft-blue: hsl(240, 73%, 65%);
    --text-primary-soft-red: hsl(14, 88%, 65%);
    --text-primary-dark: hsl(238, 29%, 16%);
    --text-neutral-dark: hsl(237, 12%, 33%);
    --text-neutral-grey: hsl(240, 6%, 50%);
    --divider-color: hsl(240, 5%, 91%);
    font-family: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    background-color: #fff;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--bg-soft-violet), var(--bg-soft-blue));
}

.faq {
    position: relative;
    width: 60vw;
    min-height: 70vh;
    background: #fff;
    border-radius: 25px;
    background-image: url(images/bg-pattern-desktop.svg), url(images/illustration-woman-online-desktop.svg);
    background-position: left top, 20% center;
    background-size: contain, 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem;
}

.box {
    position: absolute;
    left: -100px;
    top: 40%;
}

.mobile {
    display: none;
}

.faq .faq-container {
    width: 50%;
}

.faq .faq-container h1 {
    color: var(--text-primary-dark);
    margin-bottom: 2rem;
    font-weight: 700;
}

.faq .faq-container .question label {
    position: relative;
    display: block;
    cursor: pointer;
    color: var(--text-neutral-dark);
    padding: 0.5rem;
}

.faq .faq-container .question label:hover {
    color: var(--text-primary-soft-red);
}

.faq .faq-container .question label input {
    display: none;
}

.faq .faq-container .question label img {
    position: absolute;
    right: 0;
    top: 1rem;
    transition: 0.4s;
}

.faq .faq-container .question label .answer {
    color: var(--text-neutral-grey);
    font-size: 13px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.faq .faq-container .divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-color);
    margin: 0.5rem 0;
}

.faq .faq-container .question label input:checked~span {
    font-weight: 900;
}

.faq .faq-container .question label input:checked~img {
    transform: rotate(180deg);
}

.faq .faq-container .question label input:checked~.answer {
    max-height: 300px;
    padding-top: 0.5rem;
}

@media screen and (max-width:540px) {
    .box {
        display: none;
    }

    .mobile {
        display: block;
        position: absolute;
        top: -110px;
        width: 70%;
    }

    .faq {
        position: relative;
        width: 90vw;
        min-height: 70vh;
        background: #fff;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
        background-image: url(images/bg-pattern-mobile.svg);
        background-position: top;
        background-size: 70% auto;
        background-repeat: no-repeat;
    }

    .faq .faq-container {
        width: 100%;
        padding-top: 7rem;
    }

    .faq .faq-container h1 {
        text-align: center;
    }
}